@font-face {
    font-family: MankSans;
    src:url(../fonts/MankSans-Medium.ttf);
}

body {
    padding-top: 10px;
    background: #282828;
    background-size: cover;
}

.navbar {
    min-height: 10px;
    background-color: #D5C4A1;
    border-radius: 0;
    border: none;
}

.nav>li>a {
    min-heigh: 10px;
    padding: 0px 10px;
    border-radius: 0;
    color: #282828;
    border: none;
}

.nav>li.active>a,
.nav>li.active>a:hover
 {
    background-color: #427B58;
}

.nav>li>a:hover {
    background-color: #689D6A;
}

.jumbotron {
    background: #589D6A;
    background-size: cover;
    position: static;
    margin-bottom: 0;
}

.img-responsive {
    min-height: 280px;
    max-width: 200px;
    margin: auto;
    /* border: 3px solid #076678; */
}

.row {
    width: 80%;
}

.col {
    padding-left: 0px;
    padding-right: 0px;
}

#bio {
    text-align: center;
    font-family: MankSans;
    color: #282828;
    padding: 10px;
    min-height: 280px;
    max-width: 650px;
    margin: auto;
}

#prompt {
    color: #B8BB26;
}

.cmd {
    display: inline-block;
}
