body {
	background-color: #FFFFFF;
	color: #163634;
}

.header {
	position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

.bustshot-wrapper {
	display: block;
	position: relative;
	overflow: hidden;
	width: 300px;
}

.bustshot {
	width: 100%;
}

.section-center {
	text-align: center;
}

a {
	text-decoration: none;
	color: #163636;
}

a:hover {
	color: #FAA916;
}