body {
	background-color: #FFFFFF;
	color: #163634;
}

.header {
	position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

.mobile {
	text-align: center;
}

@media only screen and (max-width: 725px) {
	.desktop {
		display: none;
	}
}

@media only screen and (min-width: 726px) {
	.mobile {
		display: none;
	}
}

@media only screen and (min-width: 822px) {
	.smallscreen {
		display: none;
	}
}

@media only screen and (max-width: 822px) {
	.fullscreen {
		display: none;
	}
}

.bustshot-wrapper {
	display: block;
	margin: auto;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	border: 1px solid #163634;
	max-width: 300px;
}

.bustshot {
	display: block;
}

.section-center {
	text-align: center;
}

a {
	text-decoration: none;
	color: #163636;
}

a:hover {
	color: #FAA916;
}
